<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" type="text/css" href="index.css" />
		<title>movie-database2</title>
	</head>
	<body>
		<div id="mymovieapp"></div>

		<div>
			<!-- <label for="movie">Movie search</label> -->
			<input type="text" v-model="keyword" placeholder="type movie here" />
			<button v-on:click="searchMovies">
				search here
			</button>
			<h2>Results</h2>
			<ul>
				<li v-for="item in movieslist.search"></li>
				<movie-detail v-bind:movie="item"></movie-detail>
			</ul>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="src/script.js"></script>
	</body>
</html>
